/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--title-weight) 'wght' var(--text-weight);
  background-color: var(--background-color);
  color: var(--font-color);
  background-attachment: fixed;
  background-image: 
    repeating-linear-gradient(
      to right,
      transparent 0px 2px,
      var(--theme-gradient-color-1) 2px 4px
    ),
    repeating-linear-gradient(
      to top,
      transparent 0px 2px,
     var(--theme-gradient-color-1) 2px 4px
    ),
    linear-gradient(
      to bottom,
     var(--theme-gradient-color-2) 0.01%,
     var(--theme-gradient-color-3)
    );
  background-size: cover;
}

.header {
  margin: 100px auto;
  font-family: var(--accent-font);
  border: var(--border);
  max-width: var(--block-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-bottom: 22px;
  background-color: var(--background-color);
  text-transform: uppercase;
}

.header__link {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 20px;
}

.theme-menu__button {
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  transition: opacity .3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  left: -15px;
  opacity: 0.6;
  animation: arrow .5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 0;
  background-color: var(--font-color);
  opacity: 0.6;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.main {
  max-width: var(--block-width);
  margin: 0 auto 100px;
  display: grid;
  gap: 50px;
}

.card {
  border: var(--border);
  background-color: var(--background-color);
}

.card__title {
  font-weight: var(--title-weight);
  font-size: 18px;
  padding: 5px 10px;
}

.card__text {
  font-size: 18px;
  font-weight: var(--text-weight);
  line-height: 1.17;
}

.card__image-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  border-top: var(--border);
  border-bottom: var(--border);
}

.card__label {
  position: absolute;
  font-family: var(--accent-font);
  font-size: 14px;
  z-index: 1;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    -1px 0 var(--accent-color), 
   0 1px var(--accent-color), 
   1px 0 var(--accent-color), 
   0 -1px var(--accent-color);
}

@supports((text-stroke: 1px var(--accent-color)) or (-webkit-text-stroke: 1px var(--accent-color))) {
  .card__label {
      -webkit-text-stroke: 1px var(--accent-color);
      /* text-stroke: 1px var(--accent-color); */
      text-shadow: none;
  }
} 

.card__image {
  width: 100%;
}

.start {
  filter: contrast(400%);
}

.fear {
  filter: saturate(500%);
}

.success {
  filter: hue-rotate(50deg);
}

.ideal {
  filter: brightness(100%) saturate(500%) hue-rotate(20deg);
}

.community {
  filter: invert();
}

.strategies {
  filter: blur(2px);
}

.concentration {
  filter: sepia();
}

.here-now {
  filter: saturate(200%);
}



.card__wrapper {
  display: grid;
  padding: 25px;
  gap: 25px;
}

.card__buttons-wrapper {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 6px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 35px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: var(--border);
  transition: all 0.3s ease;
}

.button {
  background-color: var(--background-color);
  border: var(--border);
  line-height: 0.9;
  padding: 10.5px 0;
  cursor: pointer;
  position: relative;
}

.button:focus {
	outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--font-color);
}

.button::before {
	position: absolute;
  content: '';
  width: 0;
  height: 100%;
  background-color: var(--font-color);
  top: 0;
  left: 0;
  transition: width 0.5s ease-in-out;
}

.button:hover::before {
	width: 100%;
}

.card__like-button {
  width: 130px;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  position: relative;
  color: var(--invert-color);
  mix-blend-mode: difference;
  z-index: 1;
}

.save-button {
  padding: 15px 19px;
  margin: 0 auto;
  display: flex;
  gap: 8px;
  align-items: center;
}

.dialog {
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  padding: 30px;
  max-width: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  color: var(--font-color);
  background-color: var(--background-color);
  line-height: 1.5;
  border: var(--border);
}

.dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.dialog__floppy {
  width: 39px;
  height: 39px;
}

.save__floppy {
  width: 21px;
  height: 21px;
  color: var(--invert-color);
  mix-blend-mode: difference;
}

.close-button {
  width: 100%;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }

  .save__floppy {
    width: 28px;
    height: 28px;
  }
}
